body {
    background-color: goldenrod;
}
.fondo{
  
    border-radius:10px;
    background-color: lightgray;
    width: 85%; /* Ancho del div */
    margin: 0 auto; /* Centrar horizontalmente */
    border: 2px solid #000; /* Para visualización */
    padding: 20px;
}
.titles{
    text-align: center;
    border: 2px solid #000;
    background-color:wheat;
    border-radius: 15px;
    color: goldenrod;
    border-color: black;
    width: 100%;
    border-width: 100%;
   
    font-size: 100%;/*tamaño de la funente*/


}
.normal{
        text-transform: uppercase; /**texto en mayusculas siempre  */
        font-size: medium;

       /* border: 2px solid #000; /* Cambia el color y grosor del borde aquí */
        border-radius: 15px; /* Cambia el radio de los bordes redondeados aquí */
        padding: 20px;
        background-color: rgba(255, 255, 255, 0); /* Fondo transparente */
        width: 100%; /* Ancho del recuadro */
        box-sizing: border-box;
        color: #000; /* Color del texto */
        font-family: Impact, Haettenschweiler, 'Times New Roman', Times, serif /* Fuente Times New Roman */
        text-align: justify; /* Texto centrado */
    }


    .muestra{
        font-size: large;
        
        background-color: aliceblue;
        border-radius: 5%;
        width: auto;
        height: 100px;
        border-radius: 0.15cm;
        position: relative;

       
            display: flex;
            align-items: center; /* Alinea verticalmente */
       
        
          
    }
    .txtMuestra{

        
            position: absolute;
            top: 50%;
            left: 100%;
            height: 30%;
            width: 50%;
            margin: -15% 0 0 -25%;

            tex
         
    }