body {
    background-color: goldenrod;
}
.fondo{
  
    border-radius:10px;
    background-color: lightgray;
    width: 85%; /* Ancho del div */
    margin: 0 auto; /* Centrar horizontalmente */
    border: 2px solid #000; /* Para visualización */
    padding: 20px;
}
.titles{
    text-align: center;
    border: 2px solid #000;
    background-color:goldenrod;
    border-radius: 15px;
    color: white;
    border-color: black;
    width: 100%;
    border-width: 100%;
   
    font-size: 100%;/*tamaño de la funente*/


}
.normal{
    text-transform: uppercase; /**texto en mayusculas siempre  */
        font-size: medium;

       /* border: 2px solid #000; /* Cambia el color y grosor del borde aquí */
        border-radius: 15px; /* Cambia el radio de los bordes redondeados aquí */
        padding: 20px;
        background-color: rgba(255, 255, 255, 0); /* Fondo transparente */
        width: 100%; /* Ancho del recuadro */
        box-sizing: border-box;
        color: #000; /* Color del texto */
        
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Fuente Times New Roman */
        text-align: justify; /* Texto centrado */
    }


    .muestra{
        font-size: large;
        
        background-color: aliceblue;
        border: 2px solid #000;
        height: 100px;
        border-radius: 0.15cm;
      

        display: flex;
        align-items: center; /* Alinea verticalmente */
       
        
          
    }
